on:
  - push
  - pull_request
name: example
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: keygen
        uses: glassechidna/actions2aws/keygen@master

      - name: assume role
        uses: glassechidna/actions2aws/assume@master
        with:
          url: ${{ secrets.URL }}
          role: arn:aws:iam::${{ secrets.ACCOUNT_ID }}:role/actions2aws-ExampleRoleForGithub-10X8QX5GEZTZQ
          step: keygen

      - run: aws sts get-caller-identity

      - run: env | sort
